* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #EDF2F7;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    font-family: 'Balsamiq Sans', cursive;
}

label.error {
    color: darkred;
}
.slideshow-container {
    max-width: 100px;
    position: absolute;
    
}


/* Hide the images by default */

.mySlides {
    display: none;
}


 header {
    width: 100%;
    height: 90px;
    background-color: #08b522c0;
    
    display: flex;
    justify-content: space-between;
    
    flex-wrap:wrap;
}  
.bx-viewport.bx-viewport {
    min-height: 90px;
  }
/* header {
    display:flex;
    max-height: 70px;
    background-color: #08b522c0;
    justify-content:space-between;
    align-items:center;
    /* for float if flex not supported */
  /* } */ */





nav {
    display: flex;
    justify-content: flex-end;
    /*flex-start - center - flex-end*/
    /*horizontal*/
    align-items: center;
    height: 100%;
}

nav>ul {
    margin-right: 50px;
}

nav>ul>li {
    display: inline;
    margin-left: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.galeria img {
    width: 100%;
    height: 200px;
    object-fit: cover;
   
}
img {
    display: block;
    margin: auto;
  }


/*CONTENIDO PRINCIPAL*/

#contenido {
    width: 80%;
    margin: auto;
    max-width: 1280px;
    min-height: 100vh;
}


/*FOOTER*/

#footer {
  
    height:50px;
    line-height:50px;
    bottom:0;
    left:0;
    width:100%;;
}





.menu {
    width: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    display: none;
}

.slider {
    width: 512px;
    height: 288px;
    ;

}

input[type=text],
input[type=email],
input[type=number],
select,
textarea {

    width: 100%;
    padding: 5px;

}

textarea {
    resize: none;
}

.button {
    padding: 5px 10px;
    color: white;
    background-color: #2B6CB0;
    border: none;
    border-radius: 5px;
}

.formulario_contacto {
    width: 500px;
    margin-top: 50px;
}


/*MEDIA QUERIES*/


/*Tablets*/
@media (max-width: 1024px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
    }

    .producto {
        width: 50%;
    }

    .formulario_contacto {
        width: 100%;
    }
}



/*Smartphone*/
@media (max-width: 480px) {

    .galeria {
        grid-template-columns: 1fr;
    }

    .menu {
        display: block;
    }

    @keyframes animacion_producto_mobile {
        0% {
            transform: scale(0.1);
            /*0-1*/
            /*opacity: 0 - 1*/
        }

        80% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .producto {
        width: 100%;
        animation: animacion_producto_mobile 0.8s;
    }

    

    #contenido {
        margin-top: 60px;
    }

    

    

    nav {
        justify-content: center;
    }

    nav>ul {
        margin: 0;
    }

    nav>ul>li {
        display: block;
        margin: 0;
        text-align: center;
        padding: 20px 0;
    }



}/* Estilo para las imágenes en el encabezado */





#footer{
    background: linear-gradient(#f69c3c90, #08b522c0);

}

.bold-link {
    font-weight: bold;
}
