{% extends 'agrosmart/base.html' %}

{% block contenido %}
{% load static %}
{% load crispy_forms_tags %}
<br>
<br>
<br>



<div class="row">

    <hr>

    <div class="col-12 col-md-6 offset-md-3">

        <div class="card">
            <div class="card-body">
                <h3> Crear Jornada</h3>

                <a href="{% url 'gestion_jornadas' %}">
                    <button class="btn btn-success">Volver Atrás</button>
                </a>
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" id="cobro_por_hora" value="{{ trabajador.cobro }}">

                    {% csrf_token %}
                    

                    <label for="{{ form.asignado.id_for_label }}">Asignado</label>
                    {{ form.asignado }}



                    <label for="cobro_trabajador">Cobro Trabajador x Hr</label>
                    <input type="text" id="cobro_trabajador" readonly>



                    <label for="{{ form.sector.id_for_label }}">Sector</label>
                    {{ form.sector }}

                    <label for="{{ form.huerto.id_for_label }}">Huerto</label>
                    {{ form.huerto }}

                    <label for="{{ form.lote.id_for_label }}">Lote</label>
                    {{ form.lote }}
                    <br>
                    <br>
                    <label for="{{ form.fecha.id_for_label }}">Fecha</label>
                    {{ form.fecha }}

                    <!-- Tarea 1 -->
                    <h3>Detalle de Tarea 1</h3>
                    <label for="{{ form.nombre_tarea_1.id_for_label }}">Nombre de Tarea 1</label>
                    {{ form.nombre_tarea_1 }}
                    <br>
                    <br>

                    <label for="{{ form.hora_inicio_tarea_1.id_for_label }}">Hora de Inicio Tarea 1</label>
                    {{ form.hora_inicio_tarea_1 }}
                    <label for="{{ form.hora_fin_tarea_1.id_for_label }}">Hora de Fin Tarea 1</label>
                    {{ form.hora_fin_tarea_1 }}
                    <br>

                    <label for="total_horas_tarea_1">Total Horas</label>
                    <input type="text" id="total_horas_tarea_1" readonly>

                    <br>





                    <!-- Tarea 2 -->
                    <h3>Detalle de Tarea 2</h3>
                    <label for="{{ form.nombre_tarea_2.id_for_label }}">Nombre de Tarea 2</label>
                    {{ form.nombre_tarea_2 }}
                    <br>
                    <br>
                    <label for="{{ form.hora_inicio_tarea_2.id_for_label }}">Hora de Inicio Tarea 2</label>
                    {{ form.hora_inicio_tarea_2 }}
                    <label for="{{ form.hora_fin_tarea_2.id_for_label }}">Hora de Fin Tarea 2</label>
                    {{ form.hora_fin_tarea_2 }}
                    <br>

                    <label for="total_horas_tarea_2">Total Horas :</label>

                    <input type="text" id="total_horas_tarea_2" readonly>
                    <br>




                    <br>
                    <br>


                    <!-- Botón para agregar tarea 3 y  -->
                    <button type="button" class="btn btn-warning" id="agregar-tarea-btn">Agregar otra tarea</button>
                    <button type="button" class="btn btn-secondary" id="agregar-extra-btn">Agregar Extras</button>
                    <button type="button" class="btn btn-primary" id="agregar-observacion-btn">Agregar
                        Observación</button>


                    <!-- Tarea 3 (inicialmente oculta) -->
                    <div id="tarea3-container" style="display: none;">
                        <h3>Detalle de Tarea 3</h3>
                        <label for="{{ form.nombre_tarea_3.id_for_label }}">Nombre de Tarea 3</label>
                        {{ form.nombre_tarea_3 }}
                        <br>
                        <br>

                        <label for="{{ form.hora_inicio_tarea_3.id_for_label }}">Hora de Inicio Tarea 3</label>
                        {{ form.hora_inicio_tarea_3 }}
                        <label for="{{ form.hora_fin_tarea_3.id_for_label }}">Hora de Fin Tarea 3</label>
                        {{ form.hora_fin_tarea_3 }}
                        <br>
                        <br>



                        <br>

                        <label for="total_horas_tarea_3">Total Horas</label>

                        <input type="text" id="total_horas_tarea_3" readonly>
                    </div>
                    <div id="extra-container" style="display: none;">
                        <br>

                        <h3>Extras</h3>
                        <label for="{{ form.nombre_extra_1.idfor_label }}">Nombre Extra 1</label>
                        {{ form.nombre_extra_1 }}
                        <label for="{{ form.gasto_extra_1.idfor_label }}">Gasto Extra 1</label>
                        {{ form.gasto_extra_1 }}
                        <label for="{{ form.nombre_extra_1.idfor_label }}">Nombre Extra 2</label>
                        {{ form.nombre_extra_2 }}
                        <label for="{{ form.gasto_extra_1.idfor_label }}">Gasto Extra 2</label>
                        {{ form.gasto_extra_2 }}
                        <label for="{{ form.nombre_extra_1.idfor_label }}">Nombre Extra 3</label>
                        {{ form.nombre_extra_3 }}
                        <label for="{{ form.gasto_extra_1.idfor_label }}">Gasto Extra 3</label>
                        {{ form.gasto_extra_3 }}
                    </div>

                    <div id="observacion-container" style="display:none">
                        <label for="{{ form.observacion.id_for_label }}">Observación</label>
                        {{ form.observacion }}

                    </div>

                    <br>
                    <br>


                    <button class="btn btn-success" type="submit">Guardar</button>
                </form>








                <br>


                <a href="{% url 'gestion_jornadas' %}">
                    <button class="btn btn-success">Volver Atrás</button>
                </a>


            </div>
            <br>


        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tarea3Container = document.getElementById("tarea3-container");
        const agregarTareaBtn = document.getElementById("agregar-tarea-btn");
        let tarea3Visible = false;

        agregarTareaBtn.addEventListener("click", function () {
            if (!tarea3Visible) {
                tarea3Container.style.display = "block";
                tarea3Visible = true;
                agregarTareaBtn.textContent = "Quitar tarea 3";  // Cambiar el texto del botón
            } else {
                tarea3Container.style.display = "none";
                tarea3Visible = false;
                agregarTareaBtn.textContent = "Agregar otra tarea";  // Cambiar el texto del botón
            }
        });
    });
</script>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const extraContainer = document.getElementById("extra-container");
        const agregarExtraBtn = document.getElementById("agregar-extra-btn");
        let extraVisible = false;
        const extraInputs = document.querySelectorAll("#extra-container input");

        agregarExtraBtn.addEventListener("click", function () {
            if (!extraVisible) {
                extraContainer.style.display = "block";
                extraVisible = true;
                agregarExtraBtn.textContent = "Quitar Extras";
            } else {
                extraContainer.style.display = "none";
                extraVisible = false;
                agregarExtraBtn.textContent = "Agregar Extras";

                // Borrar el contenido de todos los campos de texto y numéricos
                extraInputs.forEach(input => input.value = "");
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const obsContainer = document.getElementById("observacion-container");
        const agregarObsBtn = document.getElementById("agregar-observacion-btn");
        const observacionInput = document.querySelector("#observacion-container input");
        let ObsVisible = false;

        agregarObsBtn.addEventListener("click", function () {
            if (!ObsVisible) {
                obsContainer.style.display = "block";
                ObsVisible = true;
                agregarObsBtn.textContent = "Quitar Observación";
            } else {
                obsContainer.style.display = "none";
                ObsVisible = false;
                agregarObsBtn.textContent = "Agregar Observación";
                // Borrar el contenido del campo de observación
                observacionInput.value = "";
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Manejar el evento de cambio en el campo de sector
        $("#id_sector").change(function () {
            var selectedSector = $(this).val();
            // Limpiar los valores de los combos de huerto y lote
            $("#id_huerto").empty();
            $("#id_lote").empty();

            // Agregar la opción "Todos los huertos del sector"
            $("#id_huerto").append($('<option>', {
                value: 'todos',
                text: 'Todos los huertos del sector'
            }));

            $.ajax({
                url: "/cargar_huertos/",
                data: {
                    'sector_id': selectedSector
                },
                dataType: 'json',
                success: function (data) {
                    var $huertoSelect = $("#id_huerto");
                    $.each(data.huertos, function (index, huerto) {
                        $huertoSelect.append($('<option>', {
                            value: huerto.id,
                            text: huerto.nombre
                        }));
                    });

                    // Disparar el evento "change" en el campo de huerto después de cargar las opciones
                    $huertoSelect.trigger('change');
                },
                error: function () {
                    console.error("Error al cargar los huertos.");
                }
            });
        });

        // Manejar el evento de cambio en el campo de huerto    
        $("#id_huerto").change(function () {
            var selectedHuerto = $(this).val();
            // Limpiar el valor del combo de lote
            $("#id_lote").empty();

            // Agregar la opción "Todos los lotes del huerto"
            $("#id_lote").append($('<option>', {
                value: 'todos',
                text: 'Todos los lotes del huerto'
            }));

            // Verificar si la opción seleccionada es "Todos los huertos del sector"
            if (selectedHuerto === 'todos') {
                return;
            }

            $.ajax({
                url: "/cargar_lotes/",
                data: {
                    'huerto_id': selectedHuerto
                },
                dataType: 'json',
                success: function (data) {
                    var $loteSelect = $("#id_lote");
                    $.each(data.lotes, function (index, lote) {
                        $loteSelect.append($('<option>', {
                            value: lote.id,
                            text: lote.nombre
                        }));
                    });
                },
                error: function () {
                    console.error("Error al cargar los lotes.");
                }
            });
        });
    });
</script>





<script>
    $('#id_asignado').change(function () {
        var trabajadorId = $(this).val();

        // Verificar si el trabajadorId es un valor válido antes de realizar la solicitud AJAX
        if (trabajadorId) {
            $.ajax({
                url: "{% url 'obtener_cobro' %}",
                type: 'GET',
                data: { trabajador_id: trabajadorId },
                success: function (data) {
                    var cobroFormateado = '';

                    if (data.cobro !== null) {
                        cobroFormateado = "$ " + (data.cobro * 1).toLocaleString();
                    }

                    $('#cobro_trabajador').val(cobroFormateado);
                },
                error: function () {
                    // Manejar errores si es necesario
                }
            });
        } else {
            // Si el trabajadorId está vacío, limpiar el campo de texto
            $('#cobro_trabajador').val('');
        }
    });




</script>
<script>
    $(document).ready(function () {
        // Función para calcular el total de horas
        function calcularTotalHoras() {
            var horaInicio = $('#id_hora_inicio_tarea_1').val();
            var horaFin = $('#id_hora_fin_tarea_1').val();
            var totalHoras = '';

            if (horaInicio && horaFin) {
                var inicio = moment(horaInicio, 'HH:mm');
                var fin = moment(horaFin, 'HH:mm');

                if (fin.isAfter(inicio)) {
                    var duracion = moment.duration(fin.diff(inicio));
                    totalHoras = duracion.hours() + ' horas ' + duracion.minutes() + ' minutos';
                } else {
                    totalHoras = 'La hora de fin debe ser posterior a la hora de inicio';
                }
            } else if (horaInicio && !horaFin) {
                totalHoras = 'Por favor, seleccione la hora de fin';
            } else if (!horaInicio && horaFin) {
                totalHoras = 'Por favor, seleccione la hora de inicio';
            }

            $('#total_horas_tarea_1').val(totalHoras);
        }

        // Detectar cambios en los campos de hora de inicio y hora de fin
        $('#id_hora_inicio_tarea_1, #id_hora_fin_tarea_1').change(function () {
            calcularTotalHoras();
        });

        // Inicializar el cálculo al cargar la página
        calcularTotalHoras();
    });
    $(document).ready(function () {
        // Función para calcular el total de horas
        function calcularTotalHoras() {
            var horaInicio = $('#id_hora_inicio_tarea_2').val();
            var horaFin = $('#id_hora_fin_tarea_2').val();
            var totalHoras = '';

            if (horaInicio && horaFin) {
                var inicio = moment(horaInicio, 'HH:mm');
                var fin = moment(horaFin, 'HH:mm');

                if (fin.isAfter(inicio)) {
                    var duracion = moment.duration(fin.diff(inicio));
                    totalHoras = duracion.hours() + ' horas ' + duracion.minutes() + ' minutos';
                } else {
                    totalHoras = 'La hora de fin debe ser posterior a la hora de inicio';
                }
            } else if (horaInicio && !horaFin) {
                totalHoras = 'Por favor, seleccione la hora de fin';
            } else if (!horaInicio && horaFin) {
                totalHoras = 'Por favor, seleccione la hora de inicio';
            }

            $('#total_horas_tarea_2').val(totalHoras);
        }

        // Detectar cambios en los campos de hora de inicio y hora de fin
        $('#id_hora_inicio_tarea_2, #id_hora_fin_tarea_2').change(function () {
            calcularTotalHoras();
        });

        // Inicializar el cálculo al cargar la página
        calcularTotalHoras();
    });
    $(document).ready(function () {
        // Función para calcular el total de horas
        function calcularTotalHoras() {
            var horaInicio = $('#id_hora_inicio_tarea_3').val();
            var horaFin = $('#id_hora_fin_tarea_3').val();
            var totalHoras = '';

            if (horaInicio && horaFin) {
                var inicio = moment(horaInicio, 'HH:mm');
                var fin = moment(horaFin, 'HH:mm');

                if (fin.isAfter(inicio)) {
                    var duracion = moment.duration(fin.diff(inicio));
                    totalHoras = duracion.hours() + ' horas ' + duracion.minutes() + ' minutos';
                } else {
                    totalHoras = 'La hora de fin debe ser posterior a la hora de inicio';
                }
            } else if (horaInicio && !horaFin) {
                totalHoras = 'Por favor, seleccione la hora de fin';
            } else if (!horaInicio && horaFin) {
                totalHoras = 'Por favor, seleccione la hora de inicio';
            }

            $('#total_horas_tarea_3').val(totalHoras);
        }

        // Detectar cambios en los campos de hora de inicio y hora de fin
        $('#id_hora_inicio_tarea_3, #id_hora_fin_tarea_3').change(function () {
            calcularTotalHoras();
        });

        // Inicializar el cálculo al cargar la página
        calcularTotalHoras();
    });

</script>










</div>
{% endblock %}