{% extends 'agrosmart/base.html' %}

{% block contenido %}
{% load static %}
{% load crispy_forms_tags %}
<br>
<br>
<br>



<div class="row">

    <hr>

    <div class="col-12 col-md-6 offset-md-3">

        <div class="card">
            <div class="card-body">
                <h2> Modificar Jornada </h2>
                <a href="{% url 'gestion_jornadas' %}">
                    <button class="btn btn-success">Volver Atrás</button>
                </a>
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" id="cobro_por_hora" value="{{ trabajador.cobro }}">

                    {% csrf_token %}

                    <label for="{{ form.asignado.id_for_label }}">Asignado</label>
                    {{ form.asignado }}

                    
                    <label for="cobro_trabajador">Cobro Trabajador x Hr</label>
                    <input  type="text" id="cobro_trabajador" readonly>



                    <label for="{{ form.sector.id_for_label }}">Sector</label>
                    {{ form.sector }}

                    <label for="{{ form.huerto.id_for_label }}">Huerto</label>
                    {{ form.huerto }}

                    <label for="{{ form.lote.id_for_label }}">Lote</label>
                    {{ form.lote }}
                    <br>
                    <br>
                    <label for="{{ form.fecha.id_for_label }}">Fecha</label>
                    {{ form.fecha }}
                    
                    <br>
                    <label for="{{ form.estado.id_for_label }}">Estado</label>
                    {{ form.estado }}
                    <br>
                    <h3>Detalle de Tarea 1</h3>
                    <label for="{{ form.nombre_tarea_1.id_for_label }}">Nombre de Tarea 1</label>
                    {{ form.nombre_tarea_1 }}
                    <br>
                    <br>

                    <label for="{{ form.hora_inicio_tarea_1.id_for_label }}">Hora de Inicio Tarea 1</label>
                    {{ form.hora_inicio_tarea_1 }}
                    <label for="{{ form.hora_fin_tarea_1.id_for_label }}">Hora de Fin Tarea 1</label>
                    {{ form.hora_fin_tarea_1 }}
                    <br>

                    

                    <br>
                    <h3>Detalle de Tarea 2</h3>
                    <label for="{{ form.nombre_tarea_2.id_for_label }}">Nombre de Tarea 2</label>
                    {{ form.nombre_tarea_2 }}
                    <br>
                    <br>
                    <label for="{{ form.hora_inicio_tarea_2.id_for_label }}">Hora de Inicio Tarea 2</label>
                    {{ form.hora_inicio_tarea_2 }}
                    <label for="{{ form.hora_fin_tarea_2.id_for_label }}">Hora de Fin Tarea 2</label>
                    {{ form.hora_fin_tarea_2 }}
                    <br>

                    
                    <br>
                    <h3>Detalle de Tarea 3</h3>
                        <label for="{{ form.nombre_tarea_3.id_for_label }}">Nombre de Tarea 3</label>
                        {{ form.nombre_tarea_3 }}
                        <br>
                        <br>

                        <label for="{{ form.hora_inicio_tarea_3.id_for_label }}">Hora de Inicio Tarea 3</label>
                        {{ form.hora_inicio_tarea_3 }}
                        <label for="{{ form.hora_fin_tarea_3.id_for_label }}">Hora de Fin Tarea 3</label>
                        {{ form.hora_fin_tarea_3 }}
                        <br>
                        <br>



                        <br>

                        

                        <h3>Extras</h3>
                        <label for="{{ form.nombre_extra_1.idfor_label }}">Nombre Extra 1</label>
                        {{ form.nombre_extra_1 }}
                        <label for="{{ form.gasto_extra_1.idfor_label }}">Gasto Extra 1</label>
                        {{ form.gasto_extra_1 }}
                        <label for="{{ form.nombre_extra_1.idfor_label }}">Nombre Extra 2</label>
                        {{ form.nombre_extra_2 }}
                        <label for="{{ form.gasto_extra_1.idfor_label }}">Gasto Extra 2</label>
                        {{ form.gasto_extra_2 }}
                        <label for="{{ form.nombre_extra_1.idfor_label }}">Nombre Extra 3</label>
                        {{ form.nombre_extra_3 }}
                        <label for="{{ form.gasto_extra_1.idfor_label }}">Gasto Extra 3</label>
                        {{ form.gasto_extra_3 }}
                        <label for="{{ form.observacion.id_for_label }}">Observación</label>
                        {{ form.observacion }}
                    <!-- Tarea 1 -->
                    

                    <br>

                    
                  
                    

                    <!-- Tarea 2 -->
                   
                    <!-- Botón para agregar tarea 3 y  -->
                    
                    


                    <!-- Tarea 3 (inicialmente oculta) -->
                    

         
                    

                    <div id="observacion-container" style="display:none">
                        <label for="{{ form.observacion.id_for_label }}">Observación</label>
                        {{ form.observacion }}

                    </div>

                    <br>
                    <br>


                    <div>
                        <input type="reset" value="Cancelar" class="btn btn-danger">
                        &nbsp;
                        <button type="submit" id="btnAgregar" class="btn btn-primary">Modificar Jornada</button>
                        &nbsp;



                        {{mensaje}}
                    </div>
                </form>
                
                
            </div>
            <br>
            
            <a href="{% url 'gestiondetrabajadores' %}">
                <button class="btn btn-success">Volver Atrás</button>
            </a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Manejar el evento de cambio en el campo de sector
        $("#id_sector").change(function () {
            var selectedSector = $(this).val();
            // Limpiar los valores de los combos de huerto y lote
            $("#id_huerto").empty();
            $("#id_lote").empty();
            $.ajax({
                url: "/cargar_huertos/",
                data: {
                    'sector_id': selectedSector
                },
                dataType: 'json',
                success: function (data) {
                    var $huertoSelect = $("#id_huerto");
                    $.each(data.huertos, function (index, huerto) {
                        $huertoSelect.append($('<option>', {
                            value: huerto.id,
                            text: huerto.nombre
                        }));
                    });
                }
            });
        });
    });

    // Manejar el evento de cambio en el campo de huerto    
    $("#id_huerto").change(function () {
        var selectedHuerto = $(this).val();
        // Limpiar el valor del combo de lote
        $("#id_lote").empty();
        $.ajax({
            url: "/cargar_lotes/",
            data: {
                'huerto_id': selectedHuerto
            },
            dataType: 'json',
            success: function (data) {
                var $loteSelect = $("#id_lote");
                $.each(data.lotes, function (index, lote) {
                    $loteSelect.append($('<option>', {
                        value: lote.id,
                        text: lote.nombre
                    }));
                });
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const obsContainer = document.getElementById("observacion-container");
    const agregarObsBtn = document.getElementById("agregar-observacion-btn");
    const observacionInput = document.querySelector("#observacion-container input");
    let ObsVisible = false;

    agregarObsBtn.addEventListener("click", function () {
        if (!ObsVisible) {
            obsContainer.style.display = "block";
            ObsVisible = true;
            agregarObsBtn.textContent = "Quitar Observación";
        } else {
            obsContainer.style.display = "none";
            ObsVisible = false;
            agregarObsBtn.textContent = "Agregar Observación";
            // Borrar el contenido del campo de observación
            observacionInput.value = "";
        }
    });
});
</script>
<script>
    $('#id_asignado').change(function () {
        var trabajadorId = $(this).val();

        // Verificar si el trabajadorId es un valor válido antes de realizar la solicitud AJAX
        if (trabajadorId) {
            $.ajax({
                url: "{% url 'obtener_cobro' %}",
                type: 'GET',
                data: { trabajador_id: trabajadorId },
                success: function (data) {
                    var cobroFormateado = '';

                    if (data.cobro !== null) {
                        cobroFormateado = "$ " + (data.cobro * 1).toLocaleString();
                    }

                    $('#cobro_trabajador').val(cobroFormateado);
                },
                error: function () {
                    // Manejar errores si es necesario
                }
            });
        } else {
            // Si el trabajadorId está vacío, limpiar el campo de texto
            $('#cobro_trabajador').val('');
        }
    });




</script>






</div>
{% endblock %}