{% extends 'agrosmart/base.html' %}

{% block contenido %}
{% load static %}
{% load agrosmartiotweb %}
{% block js %}
<style>
  .tareas-extras {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .tarea-extra-item {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .campo-total {
    flex: 1;
    border: 1px solid #e00000;
    padding: 10px;
  }
</style>
{% endblock js %}
{% load humanize %}

<div class="finanzas">
  <br>
  <br>
  <div class="card ">
    <div class="card-body ">
      <h3> Gestión de Finanzas por Trabajador </h3>
      <hr>
      <td>
        <br>
        &nbsp;
      </td>

      <div>
        <table class="table table-striped table-hover table-responsive" style="overflow-x: auto;">
          <thead>
            <tr>
              
              <th>Nombre Trabajador</th>
              <th>Trabajo a Realizar</th>
              <th>Cobro por Hora</th>
              <th>Cantidad Jornadas</th>
              <th>Horas Trabajadas</th>
              <th>Total a Pagar</th>
              <th>Estado de Pago</th>
              
            </tr>
          </thead>
          <tbody>
            {% for finanza in finanzas %}
            <tr>
                
              <td>{{ finanza.trabajador.nombre }}</td>
              <td>{{ finanza.trabajo_realiza }}</td>
              <td>{{ finanza.cobro_por_hora }}</td>
              <td>{{ finanza.cantidad_jornadas }}</td>
              <td>{{ finanza.horas_trabajadas }}</td>
              <td>{{ finanza.total_a_pagar }}</td>
              <td>{{ finanza.get_estado_pago_display }}</td>
             
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <br>

    <div class="card-body ">
        <h3> Gestión de Finanzas por Mes</h3>
        <hr>
        <td>
          <br>
          &nbsp;
        </td>
  
        <div>
          <table class="table table-striped table-hover table-responsive" style="overflow-x: auto;">
            <thead>
              <tr>
                
                <th>Mes</th>
                <th>Gastos en Remuneración </th>
                
                
                
              </tr>
            </thead>
            <tbody>
              {% for finanza_por_mes in finanzas_por_mes %} 
              <tr>
                  
                <td>{{ finanza_por_mes.mes}}</td>
                <td>{{ finanza_por_mes.total_gastos_en_remuneracion}}</td>
               
              
               
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <h3> Gastos Financieros</h3>
          <table class="table table-striped table-hover table-responsive" style="overflow-x: auto;">
            <thead>
              <tr>
                
                <th>Mes</th>
                
                <th>Gastos Financieros </th>
                
                
              </tr>
            </thead>
            <tbody>
              {% for gasto in gastos_por_mes %}
              <tr>
                <td>{{ gasto.mes }}</td>
                <td>{{ gasto.total|floatformat:2 }}</td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    <br>
  </div>
</div>
{% endblock %}
