{% extends 'agrosmart/base.html' %}

{% block contenido %}
{% load static %}
{% load agrosmartiotweb %}

<style>
    @media (max-width: 768px) {
        canvas {
            height: 400px !important; /* Aumenta la altura en dispositivos móviles */
        }
    }
</style>

<div class="finanzas">
    <h1>Gestión de Finanzas</h1>

    <div class="card">
        <div class="card-body">
            <h2>Total Gastos en Remuneración por Mes</h2>
            <canvas id="finanzasChart" height="300"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const finanzasData = JSON.parse('{{ finanzas_data|escapejs }}');

        const finanzasLabels = finanzasData.map(entry => entry.mes);
        const finanzasTotalGastos = finanzasData.map(entry => entry.total_gastos);

        const finanzasChart = new Chart(document.getElementById('finanzasChart'), {
            type: 'bar',
            data: {
                labels: finanzasLabels,
                datasets: [{
                    label: 'Total Gastos en Remuneración',
                    data: finanzasTotalGastos,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>
{% endblock %}
