


{% extends 'agrosmart/base.html' %}

{% block contenido %}
{% load static %}
{% block js %}
<script>
  function eliminarSector(id) {
    Swal.fire({
      "title": "¿Estas Seguro?",
      "text": "Esta acción no se puede deshacer",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, Cancelar",
      "confirmButtonText": "Si, Eliminar",
      "reverseButtons": true,
      "confirmButtonColor": "dc3545",










    })
      .then(function (result) {
        if (result.isConfirmed) {
          window.location.href = "/eliminarsector/" + id + "/"
        }
      })
  }
  function eliminarHuerto(id) {
    Swal.fire({
      "title": "¿Estas Seguro?",
      "text": "Esta acción no se puede deshacer",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, Cancelar",
      "confirmButtonText": "Si, Eliminar",
      "reverseButtons": true,
      "confirmButtonColor": "dc3545",










    })
      .then(function (result) {
        if (result.isConfirmed) {
          window.location.href = "/eliminarhuerto/" + id + "/"
        }
      })
  }
  
</script>


    

{% endblock js %}
{% load humanize %}


<!-- Incluir los estilos de Bootstrap -->



<div class="procesos">


  <br>
  <br>

  <div class="card">
    <div class="card-body">
      
      <h3> Visualización de Sectores, Huertos y Lotes </h3>
      <hr>
      <td>
        <head>
            <title>Visualización de Sectores, Huertos y Lotes</title>
            <div class="btn-group justify-content-end">
              <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Opciones
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    
                <a href="{% url 'agregarsector' %}" class="btn btn-secondary">Agregar Sector</a>
    
                <a href="{% url 'agregar_huerto_ss' %}" class="btn btn-secondary">Agregar Huerto</a>

                <a href="{% url 'agregarlote' %}" class="btn btn-secondary">&nbsp;&nbsp;&nbsp;Agregar Lote</a>
    
    
    
    
    
    
                
              </div>
            
                  
            </div>
              <br>
              &nbsp;
            <style>
                body {
                    font-family: Arial, sans-serif;
                }
        
                h1 {
                    color: #333;
                }
                .recuadro {
                  border: 1px solid #ccc;
                  padding: 10px;
                  margin: 10px;
                }
        
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
        
                ul ul {
                    margin-left: 20px;
                    padding-left: 10px;
                    border-left: 1px solid #ccc;
                }
        
                li {
                    margin-bottom: 5px;
                }
        
                .nivel {
                    font-weight: bold;
                    margin-bottom: 10px;
                }
        
                .sector {
                    color: #FF5733;
                }
        
                .huerto {
                    color: #33A0FF;
                }
        
                .lote {
                    color: #33FF63;
                }
            </style>
            <style>
              #map {
                  height: 500px;
                  width: 100%;
              }
          </style>
        </head>
        <body>
            
          <ul>
            <li class="nivel sector">SECTOR:</li>
            {% for sector in sectores %}
                <div class="recuadro">
                  <li class="sector ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/>
                    </svg>
                      {{ sector.nombre }}
            

                      <a href="{% url 'modificarsector' sector.id %}"  class="btn btn-warning" style=" border-radius: 100%; padding: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                      </a>

                      <a href="#" onclick="eliminarSector({{ sector.id }})" class="btn btn-danger"  style=" border-radius: 100%; padding: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                      </a>
                      
                  </li>
                  <div id="map-{{ sector.id }}" class="map"></div>
                  <script>
                    function initMap() {
                      {% for sector in sectores %}
                      var lat = parseFloat('{{ sector.latitud|escapejs }}');
                      var lng = parseFloat('{{ sector.longitud|escapejs }}');
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 12,
                            center: { lat: lat, lng: lng } // Ubicación inicial, por ejemplo, Santiago, Chile
                        });
            
                        var infoWindowArray = [];
            
                        
                        
                        var lat = parseFloat('{{ sector.latitud|escapejs }}');
                        var lng = parseFloat('{{ sector.longitud|escapejs }}');
                        var marker = new google.maps.Marker({
                          position: { lat: lat, lng: lng },
                            map: map,
                            title: '{{ sector.nombre }}'
                        });
            
                        var infowindow = new google.maps.InfoWindow({
                            content: '<div><strong>{{ sector.nombre }}</strong></div>'
                        });
            
                        infoWindowArray.push(infowindow);
            
                        marker.addListener('click', function() {
                            infoWindowArray.forEach(function(iw) {
                                iw.close();
                            });
                            infowindow.open(map, marker);
                        });
                        {% endfor %}
                    }
            
                    window.addEventListener('load', () => {
                        const script = document.createElement('script');
                        script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDT0QJ4JVXUrTA8mRZN_YXjy2CZDsa_vmw&callback=initMap";
                        
                        script.defer = true;
                        document.head.appendChild(script);
                    });
                </script>
                  <ul>
                      <li class="nivel huerto ">HUERTO:</li>
                      {% for huerto in sector.huerto_set.all %}
                          <li class="huerto">
                              {{ huerto.nombre }}
                              

                              
                                
                            
                              <a href="{% url 'modificarhuerto' huerto.id %}" class="btn btn-warning" style="background-color: #33A0FF; color: white; border-radius: 100%; padding: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                              </a>
                              <a href="#" onclick="eliminarHuerto({{ huerto.id }})" class="btn btn-danger" style=" border-radius: 100%; padding: 10px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                </svg>
                              
                              </a>
                              
                          </li>
                          <ul>
                              <li class="nivel lote">LOTE:</li>
                              {% for lote in huerto.lote_set.all %}
                                  <li class="lote">
                                      {{ lote.nombre }}
                                      <a href="{% url 'modificarlote' lote.id %}" class="btn btn-warning" style="background-color: #33FF63; color: white; border-radius: 100%; padding: 10px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                      </a>
                                      
                                      
                                  </li>
                              {% endfor %}
                          </ul>
                      {% endfor %}
                  </ul>
                </div>
            {% endfor %}
        </ul>
        
      
            
        </body>
        
        
        
        
        
  </div>



</div>
{% endblock %}